services:
  - type: worker
    name: latinoland-bot-worker
    env: python
    plan: free
    region: oregon
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    autoDeploy: true
    disk: 512
